node_modules
dist
.env
logs
yarn-error.log
**/config/*.json
!**/config/*.example.json

**/public/**
!**/public/theme
!**/blic/theme/**
!**/public/backend
!**/public/backend/**
!**/public/uploads
!**/public/uploads/logo
!**/public/uploads/logo/logo.png
!**/public/uploads
!**/public/uploads/admins
!**/public/uploads/admins/default.jpg

.turbo