<div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">
        <div class="col col-md-6 col-lg-3 col-xl-4">
            <%- include("../common/search-field") %>
        </div>
    </div>
</div>
<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="border-gray-200">#</th>
                <th class="border-gray-200">Subject / Title</th>
                <th class="border-gray-200">Code</th>
                <th class="border-gray-200">Action</th>
            </tr>
        </thead>
        <tbody>
            <% exists(locals.data?.data) && locals.data.data.forEach((el, i) => { %>
                <%- include('partials/_table-row', {template: el, sn: i+1, loggedInUser: locals.user}) %>
            <% }) %>
        </tbody>
    </table>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <%- include('../common/pagination') %>
    </div>
</div>