<div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">
        <div class="col col-md-6 col-lg-3 col-xl-4">
            <%- include("../common/search-field") %>
        </div>
        <% if(hasPermission(locals.user, 'roles:create')) { %>
        <div class="col-4 col-md-2 col-xl-2 ps-md-0 text-end">
            <a href="/roles/create" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                New Role
            </a>
        </div>
        <% } %>
    </div>
</div>
<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="border-gray-200">#</th>
                <th class="border-gray-200">Name</th>
                <th class="border-gray-200">Slug</th>
                <th class="border-gray-200">Action</th>
            </tr>
        </thead>
        <tbody>
            <% exists(locals.data?.data) && locals.data.data.forEach((el, i) => { %>
                <%- include('partials/_table-row', {role: el, sn: i+1, loggedInUser: locals.user}) %>
            <% }) %>
        </tbody>
    </table>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <%- include('../common/pagination') %>
    </div>
</div>
