<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('common/head') %> 
</head>
<body>
    <%- include('common/error') %>
    <%- include(page) %> 
    <%- include('common/partials/_vendor-js') %>
</body>
</html>