<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <% exists(locals.breadcrumbs) && get(locals.breadcrumbs).forEach((breadcrumb, i) => { %>
            <li class="breadcrumb-item <%= locals.breadcrumbs.length === i + 1 ? 'active': '' %>">
                <a href="<%= breadcrumb.url %>"><%= breadcrumb.name %></a>
            </li>
        <% }); %>
    </ol>
</nav>