<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2">
    <div class="d-block mb-4 mb-md-0">
        <h2 class="h4"><%= get(locals.title) %></h2>
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= get(locals.title) %></li>
            </ol>
        </nav>
    </div>
</div>
