<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title><%= get(locals.cmsConfig?.['CMS Title']) %> | <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="<%= title %>" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/backend/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/backend/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/backend/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/backend/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/static/backend/css/icofont.min.css">

    <%- include('partials/_vendor-css') %> 

    <link rel="stylesheet" href="/static/assets/bundle.css">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
</head>
