<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2">
    <div class="d-block mb-4 mb-md-0">
        <h2 class="h4"><%= get(locals.title) %></h2>
        <%- include('./breadcrumbs') %>
    </div>
</div>
