
<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
        <h1 class="h3 mb-4">Change password</h1>
        <%- include('../common/change-password-form', {
            formSubmitUrl: '',
            email: get(locals.data.user.email),
            mappedErrors: locals.mappedErrors,
            inputData: locals.inputData
        }) %>
    </div>
</div>
