<div class="form-check form-switch">
    <input 
        class="form-check-input" 
        type="checkbox" 
        id="flexSwitchCheckChecked" 
        name="permissions"
        value="<%= id %>"
        <%= Array.isArray(locals.options) ? options.map(o => ` ${o} `): '' %>
    />
    <label class="form-check-label" for="flexSwitchCheckChecked"><%= capitalize(name) %></label>
</div>