<div class="">
    <h3><%= title %></h3>

    <ul>
        <% data.map(el => { %>
            <li><%= el.firstName + el.lastName %></li>
            <p>This is working!!!!!!!!!!!!! Goodbye</p>
            <span>detecting changes</span>
        <% }) %> 
    </ul>
</div>